body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
}

h1 {
    text-align: center;
   
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #0d6db7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0d4db7;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}